{% extends 'base.html' %}
{% load static %}
{% block title %} {# Scientific Calculator #} {% endblock %}
<!DOCTYPE html>
<html lang="en">

{% block header %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'calculator/sc.css' %}"/>
</head>
{% endblock %}

{% block body %}
<body>
    <h1>Scientific Calculator</h1>
    <hr>
    <p>Hello</p>
    
</body>
{% endblock %}

</html>