{% extends 'debugfinder/layout_docs.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'debugfinder/docs_index.css' %}">
{% endblock %}


    {% block docs_chapters %}

    <div class="container">
        <h1>Index Page</h1>
        <p>Here you can find all the locations for all the documenetation chapters.</p>
        <p>Simply click on on of the link from the list to access the chapter.</p>
    </div>


    {% for chapter in chapters %}


    <ul class="list-group">
        <li class="list-group-item">The chapter  #{{ chapter.chapter }} 
            was created on {{ chapter.datecreated }} by {{ chapter.createdby}}</li>
      </ul>
 
      <!--
    <div class="">
        <ul>
            <li><a href="#example"></a></li>
        </ul>
    </div>
-->


    {% endfor %}


    {% endblock %}
