{% extends 'base.html' %}
{% load static %}
{% block active_page2 %} active area-current="page" {% endblock %}
{% block title %} Server Status | DebugFinder {% endblock %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'debugfinder/server_status.css' %}">
    {% block head %}
    {% endblock %}
</head>

{% block content %}

<body>

    <h1>Showing server status page displayed correctly :)</h1>

</body>

{% endblock %}

</html>