{% block title %} {# #} {% endblock %}
{% load static %}
<html lang="en">

<head>
    {% block head %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'calculator/base.css' %}"/>
</head>

<body>
    {% block content %}
    {% endblock %}
    <ul>
        <li><a class="active" href="{% url 'home' %}">Home</a></li>
        <li><a href="#calculator">Calculator</a></li>
        <li><a href="{% url 'blank_board' %}">Blank Board</a></li>
        <li><a href="{% url 'sc' %}">Scientific Calculator</a></li>
      </ul>
</body>


</html>