@font-face {
    font-family: 'fluxregularregular';
    src: url('fluxrg__-webfont.woff2') format('woff2'),
         url('fluxrg__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

  h1 {
    font-family: 'fluxregularregular';
}